/*
Licence pro informatique 2018/2019
Université de Franche-Comté
and open the template in the editor.
*/
/* 
    Created on : 7 déc. 2018, 19:41:10
    Author     : Mathieu CHARRIERE
*/

img{
    height: 80px;
    width: 80px;
}