/*
Licence pro informatique 2018/2019
Université de Franche-Comté
and open the template in the editor.
*/
/* 
    Created on : 27 janv. 2019, 21:01:35
    Author     : Mathieu CHARRIERE
*/


body{
    font-family: 'Source Sans Pro', sans-serif;
    background-color :rgb(0, 27, 77);
    font-weight: bold;
}
.topForm{
   color: white;
   background-color: #5cb85c;
   margin-left: -4.6px;
   margin-right: -4.6px;
   margin-top: -5px;
   padding-bottom: 1em;
   padding-top:1em;
}

.titre
{
    margin-top: 3.5em;
    text-align: center;
    font-family: 'Archivo Black', sans-serif;
    color:white;
}

.monform{
    background-color: white;
    padding: 5px;
    text-align: center;
    min-width: 33%;
    width: auto;
    border: solid rgb(0, 45, 128) 6px;
    border-radius: 8px;
}

.glyphicon {
    font-size: 15px;
    background-color: rgb(0, 27, 77);
    color:white;
}
.formInput{
    color : black;
  border: none;
  background-color: #F7F3EA;
  padding-left: 3em;
  padding-right: 3em;
  padding-top: 0.8em;
  padding-bottom:0.8em;
}

/* Navbar links */
#navbar a {
  float: left;
  display: block;
  color: #f2f2f2;
  text-align: center;
  padding: 14px;
  text-decoration: none;
  font-size: 20px;
}

.btn-valider{
    border-radius: 5px;
    margin-left: 43%;
    float:left;
}

